# source : pve1:/etc/pve/jobs.cfg
# releve le : 27/08/2026 — copie documentaire, verifier avec scripts/check-drift.sh
vzdump: 0ac88498-d076-4a6c-b9bb-64e3957a323b
	comment Sauvegarde quotidienne du cluster vers PBS
	schedule 02:00
	all 1
	enabled 1
	exclude 102
	mode snapshot
	notes-template {{guestname}}
	notification-mode notification-system
	storage pbs

vzdump: 088ade18-75c6-4203-b81a-cc30b1248bc8
	comment Sauvegarde hebdomadaire de la VM PBS hors datastore
	schedule sat 03:30
	compress zstd
	enabled 1
	mode snapshot
	notification-mode notification-system
	storage nas-vm
	vmid 102

