# source : pve1:/etc/pve/storage.cfg
# releve le : 27/08/2026 — copie documentaire, verifier avec scripts/check-drift.sh
rbd: vm-storage
	content rootdir,images
	krbd 0
	pool vm-storage

dir: local
	path /var/lib/vz
	content images,vztmpl,rootdir,iso,backup,snippets
	prune-backups keep-all=1

nfs: nas-pbs
	export /zpool-130899/pbs
	path /mnt/pve/nas-pbs
	server 10.201.13.43
	content images
	format raw
	options vers=4.2,hard,timeo=600,rsize=1048576,wsize=1048576,noatime
	preallocation off

nfs: nas-vm
	export /zpool-130899/vmstore
	path /mnt/pve/nas-vm
	server 10.201.13.43
	content rootdir,images,iso,backup,vztmpl
	format qcow2
	options vers=4.2,hard,timeo=600,rsize=1048576,wsize=1048576,noatime
	prune-backups keep-last=4


pbs: pbs
	datastore tim
	server 10.30.0.20
	content backup
	fingerprint 15:22:32:be:ff:14:31:4d:f7:d5:46:42:d6:17:25:40:e1:dd:54:0a:3c:15:03:82:db:4d:82:8e:5b:44:e2:1a
	username backup@pbs!pve
